@font-face {
  font-family: "Cabin Condensed";
  src: url("fonts/cabin/CabinCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cabin Condensed";
  src: url("/fonts/cabin/CabinCondensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Cabin Condensed";
  src: url("/fonts/cabin/CabinCondensed-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Cabin Condensed";
  src: url("/fonts/cabin/CabinCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}