@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-height: 100%;
   height: 100dvh;
}

html, body {
  /*height: var(--app-height);*/
  height: 100dvh;
  overflow: hidden; /* Prevent scrolling */
}

/* Your custom styles */
body {
  background-color: #111111;
  color: white;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glass {
  background: rgba(31, 31, 31, 0.95);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #111;
  overscroll-behavior: none;
}